[submodule "api"]
	path = api
	url = git@github.com:CrazyColleagues/Api-MyPertamina-BE
	branch = dev
[submodule "services/users"]
	path = services/users
	url = git@github.com:CrazyColleagues/UsersService-MyPertamina-BE.git
	branch = dev
[submodule "frontend"]
	path = frontend
	url = git@github.com:BinaryNeedle/my-pertamina.git
	branch = dev-fe
[submodule "services/authentication"]
	path = services/authentication
	url = git@github.com:CrazyColleagues/AuthenticationService-MyPertamina-BE
	branch = dev
[submodule "services/authorization"]
	path = services/authorization
	url = git@github.com:CrazyColleagues/AuthorizationService-MyPertamina-BE
	branch = dev
[submodule "services/api_gateway"]
	path = services/api_gateway
	url = git@github.com:CrazyColleagues/ApiGateway-MyPertamina-BE.git
	branch = dev
